---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
    {{#if category.name '===' 'Solatube Skylights'}}
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="{{settings.store_name}}">
        <meta property="og:title" content="{{head.title}}">
        <meta property="og:description" content="Explore Solatube skylight kits designed to bring bright, natural daylight into homes and commercial spaces.">
        <meta property="og:image" content="https://cdn11.bigcommerce.com/s-7m8h9lm8/images/stencil/original/image-manager/boomburgs-3-1660x770-.jpg?t=1742410524">
        <meta property="og:image:secure_url" content="https://cdn11.bigcommerce.com/s-7m8h9lm8/images/stencil/original/image-manager/boomburgs-3-1660x770-.jpg?t=1742410524">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="1660">
        <meta property="og:image:height" content="770">
        <meta property="og:image:alt" content="A bright interior illuminated with natural daylight from Solatube skylights">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{head.title}}">
        <meta name="twitter:description" content="Explore Solatube skylight kits designed to bring bright, natural daylight into homes and commercial spaces.">
        <meta name="twitter:image" content="https://cdn11.bigcommerce.com/s-7m8h9lm8/images/stencil/original/image-manager/boomburgs-3-1660x770-.jpg?t=1742410524">
        <meta name="twitter:image:alt" content="A bright interior illuminated with natural daylight from Solatube skylights">
    {{/if}}
{{/partial}}

{{#partial "page"}}

<div class="page page--category">
    <section class="page-content container">
        <header class="categoryPageHeader">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
            <h1 class="page-heading categoryPageHeader-title">{{category.name}}</h1>
        </header>
        {{{region name="category_below_header"}}}
        {{{category.description}}}
        {{#if theme_settings.show_subcategories}}
            {{#if category.subcategories}}
                <div class="sidebarBlock page-content-subcategories">
                    <h5 class="sidebarBlock-heading">Subcategories:</h5>
                    <ul class="navList">
                        {{#each category.subcategories}}
                        <li class="navList-item">
                            <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">
                                <div class="image-wrap{{#unless image}} image-placeholder{{/unless}}">
                                {{#if image}}
                                    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image}}" alt="{{image.alt}}" title="{{image.alt}}">
                                {{else}}
                                    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'assets/img/BrandDefault.gif'}}" alt="{{image.alt}}" title="{{image.alt}}">
                                {{/if}}
                                </div>
                                <span>{{name}}</span>
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
        {{/if}}
    </section>
    
    <div class="main full grid-bg">
        <div class="container">
            {{#if category.faceted_search_enabled}}
                <aside class="page-sidebar" id="faceted-search-container">
                    {{> components/category/sidebar}}
                </aside>
            {{else}}
                {{#all category.subcategories theme_settings.subcategories_left_column}}
                    <aside class="page-sidebar" id="faceted-search-container">
                        {{> components/category/sidebar}}
                    </aside>
                {{else all category.shop_by_price theme_settings.shop_by_price_visibility}}
                    <aside class="page-sidebar" id="faceted-search-container">
                        {{> components/category/sidebar}}
                    </aside>
                {{/all}}
            {{/if}}
        
            <main class="page-content" id="product-listing-container">
                {{#if category.products}}
                    {{> components/category/product-listing}}
                {{else}}
                    <p>{{lang 'categories.no_products'}}</p>
                {{/if}}
                {{{region name="category_below_content"}}}
            </main>
        </div>
    </div>
</div>

{{/partial}}
{{> layout/base}}
