---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{inject 'productId' product.id}}
{{inject 'klaviyoProductName' product.title}}
{{inject 'klaviyoProductId' product.id}}
{{inject 'klaviyoProductSku' product.sku}}
{{inject 'klaviyoProductCategories' product.category}}
{{inject 'klaviyoProductImageUrl' (getImage product.main_image 'product_size' (cdn theme_settings.default_image_product))}}
{{inject 'klaviyoProductBrand' product.brand.name}}
{{#if product.price.with_tax}}
    {{inject 'klaviyoProductPrice' product.price.with_tax.value}}
    {{#if product.price.non_sale_price_with_tax}}
        {{inject 'klaviyoProductCompareAtPrice' product.price.non_sale_price_with_tax.value}}
    {{else}}
        {{inject 'klaviyoProductCompareAtPrice' product.price.rrp_with_tax.value}}
    {{/if}}
{{else}}
    {{inject 'klaviyoProductPrice' product.price.without_tax.value}}
    {{#if product.price.non_sale_price_without_tax}}
        {{inject 'klaviyoProductCompareAtPrice' product.price.non_sale_price_without_tax.value}}
    {{else}}
        {{inject 'klaviyoProductCompareAtPrice' product.price.rrp_without_tax.value}}
    {{/if}}
{{/if}}

{{#partial "head"}}
    {{#if product.main_image}}
        <meta property="og:image:secure_url" content="{{getImage product.main_image 'zoom_size'}}">
        <meta property="og:image:alt" content="{{product.title}}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{product.title}}">
        <meta name="twitter:image" content="{{getImage product.main_image 'zoom_size'}}">
        <meta name="twitter:image:alt" content="{{product.title}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
    <div class="container productPage-breadcrumbs">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

        {{#each product.shipping_messages}}
            {{> components/common/alert/alert-info message}}
        {{/each}}
    </div>

    <div>
        <div class="container productPage-main">
            {{> components/products/product-view}}
            {{{region name="product_below_content"}}}
        </div>

        {{> components/products/tabs schema=true }}

        {{#if product.related_products}}
            {{#unless theme_settings.related_products_tab}}
                <div id="tab-related">
                    <div class="grid-bg">
                        <div class="container">
                            <h3 class="main-heading uppercase center"><strong>{{lang 'products.related_products'}}</strong></h3>
                            {{#if settings.data_tag_enabled}}
                                {{> components/products/related products=product.related_products columns=6 list="Related Products"}}
                            {{else}}
                                {{> components/products/related products=product.related_products columns=6}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/unless}}
        {{/if}}
        
        {{#if product.similar_by_views}}
            {{#unless theme_settings.customer_viewed_products_tab}}
                <div id="tab-related">
                    <div class="grid-bg">
                        <div class="container">
                            <h3 class="main-heading uppercase center"><strong>{{lang 'products.similar_by_views'}}</strong></h3>
                            {{> components/products/similar-by-views products=product.similar_by_views columns=6}}
                        </div>
                    </div>
                </div>
            {{/unless}}
        {{/if}}
        
        {{#if settings.show_product_reviews}}
            <div class="container">
                <div class="productReviews-header">
                    <h3 class="main-heading uppercase" id="reviews-accordion">Reviews</h3>
                    <button class="productReviews-writeReview" type="button" data-reveal-id="modal-review-form" aria-haspopup="dialog" aria-controls="modal-review-form">{{lang 'products.reviews.write_a_review'}}</button>
                </div>
                {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
            </div>
            {{> components/products/modals/writeReview}}
        {{/if}}
    </div>

    {{> components/products/purchase-bar}}
    {{> components/products/schema}}
{{/partial}}
{{> layout/base}}
