{{inject 'noCompareMessage' (lang 'compare.no_compare')}}

    <div class="categoryListingHeader">
        {{> components/category/current-view selected=category.selected}}
        <div class="categoryListingToolbar">
            <span class="categoryListingToolbar-label" data-category-product-count role="status">{{#if category.total_products}}{{category.total_products}}{{else}}0{{/if}} {{#if category.total_products '===' 1}}product{{else}}products{{/if}}</span>
            {{#if category.products}}
            <div class="categoryListingSort">
                {{> components/products/filter sort=pagination.category.sort}}
            </div>
            {{/if}}
        </div>
    </div>

{{#if category.products}}
    <div {{#if settings.data_tag_enabled}} data-list-name="Category: {{category.name}}" {{/if}}>
        {{#if theme_settings.product_list_display_mode '===' 'grid'}}
            {{#if settings.data_tag_enabled}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
            {{else}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
            {{/if}}
        {{else}}
            {{#if settings.data_tag_enabled}}
                {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
            {{else}}
                {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
            {{/if}}
        {{/if}}
    </div>

    {{> components/common/paginator pagination.category}}
{{else}}
    {{#if category.search_error}}
        <p>{{lang 'search.errorMessage'}}</p>
    {{else}}
        <p data-no-products-notification
           role="alert"
           aria-live="assertive"
           tabindex="-1"
        >
            {{lang 'categories.no_products'}}
        </p>
    {{/if}}
{{/if}}
